#Contact {
	padding-top: 185px;
	margin-top: -90px;
	.sect1 {
		margin-top: 40px;
		&--sub {
			text-align: center;
			margin: 30px 0;
			font-size: 15px;
			font-weight: 500;
			letter-spacing: 0.5px;
			line-height: 21px;
		}
		&__form {
			max-width: 610px;
			margin: 0 auto 60px;
			.form-group {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 20px;
				&:nth-child(11) {
					justify-content: flex-start;
					span {
						width: 150px;
						@include is-max(767px) {
							width: 145px;
						}
					}
				}
				.row-1 {
					font-size: 15px;
					font-weight: 500;
					width: 150px;
					@include is-max(767px) {
						width: 140px;
					}
					span {
						color: #d20000;
						display: inline-flex;
					}
				}
				.row-2 {
					width: calc(100% - 150px);
				}
				input[type="text"],
				input[type="email"],
				input[type="tel"] {
					border: 1px solid #cccccc;
					width: 100%;
					height: 40px;
					padding: 10px;
				}
				input[type="checkbox"] {
					width: 22px;
					height: 22px;
					border: 1px solid #cccccc;
					opacity: 1;
				}
				textarea {
					width: 100%;
					border: 1px solid #cccccc;
					height: 180px;
					padding: 10px;
				}
				.wpcf7-list-item {
					align-items: center;
					display: flex;
					margin: 0;
					label {
						display: flex;
						align-items: center;
						input[type="checkbox"] {
							margin-right: 10px;
						}
					}
				}
				.wpcf7-acceptance {
					margin-right: 10px;
				}
				.wpcf7-spinner {
					display: none !important;
				}
			}
			.wpcf7-submit {
				background-color: #0035ad;
				border-radius: 7px;
				color: #ffff;
				border: none;
				width: 180px;
				padding: 16px 50px;
				display: flex;
				align-items: center;
				font-size: 20px;
				font-weight: 700;
				position: relative;
				cursor: pointer;
				img {
					height: 15px;
				}
				&:disabled {
					opacity: 0.6;
					cursor: inherit;
				}
			}
			.check {
				margin-bottom: 30px;
				span {
					display: inline-flex;
				}
			}
			.arrow {
				position: relative;
				&::after {
					content: url("../../release/image/common/white_arrow.svg");
					position: absolute;
					top: 50%;
					right: 50px;
					width: 15px;
					height: 20px;
					transform: translate(0%, -50%);
				}
			}
			.wpcf7-response-output {
				display: none !important;
			}
		}
	}
	.sect2 {
		background-color: #ecf0fa;
		.wrapper {
			.container {
				padding-top: 30px;
				padding-bottom: 10px;
				text-align: center;
				@include is-min(1000px) {
					padding-top: 50px;
					padding-bottom: 50px;
				}
				p {
					font-size: 15px;
				}
				.contact-us {
					padding-top: 10px;
					padding-bottom: 5px;
					@include is-min(1000px) {
						padding-top: 30px;
						padding-bottom: 20px;
						br {
							display: none;
						}
					}

					&--small {
						@include is-min(1000px) {
							padding-bottom: 10px;
						}
					}
				}
				h3 {
					font-size: 45px;
					a {
						color: #0035ad;
					}
				}
				.sect2--btn {
					margin: 0 auto;
					padding: 20px 0;
					@include is-min(1000px) {
						max-width: 729px;
					}
					ul {
						@include is-min(1000px) {
							display: flex;
							justify-content: center;
							margin: 0 -10px;
						}
						li {
							border-radius: 10px;
							background-color: #0035ad;
							padding-top: 10px;
							padding-bottom: 10px;
							margin: 8px auto;
							position: relative;
							justify-content: center;
							cursor: pointer;
							width: 300px;
							&:hover {
								opacity: 0.6;
								a {
									img {
										right: -5px;
										position: relative;
									}
								}
							}
							@include is-min(1000px) {
								display: flex;
								align-items: center;
								padding: 20px 20px;
								margin: 0 10px;
							}
							a {
								color: #ffff;
								font-size: 20px;
								font-weight: 700;
								text-align: left;
								display: flex;
								align-items: center;
								justify-content: center;
								@include is-max(999px) {
									br {
										display: none;
									}
								}
								figure {
									margin-left: 15px;
								}
							}
						}
					}
				}
			}
		}
	}
}
