#CSR {
	padding-top: 185px;
	margin-top: -90px;

	.sect1 {
		margin-top: 40px;
		.container {
			max-width: 950px;
			padding: 0 25px;
			margin: 0 auto 60px;
		}
		&__csr-container {
			&:nth-child(2) {
				margin: 35px 0 60px;
			}
			&:nth-child(3) {
				margin-bottom: 100px;
			}
			&:nth-child(4) {
				margin-bottom: 0;
			}
			&__title {
				color: #0035ad;
				font-size: 25px;
				font-weight: 700;
			}
			&__content {
				align-items: flex-start;
				margin-top: 20px;
				@include is-min(767px) {
					display: flex;
				}
				&--row1 {
					@include is-min(767px) {
						width: 135px;
						margin-right: 50px;
					}
					img {
						@include is-max(767px) {
							margin: 0 auto;
							display: block;
						}
					}
				}
				&--row2 {
					@include is-min(767px) {
						width: calc(100% - 185px);
					}
					@include is-max(767px) {
						margin-top: 30px;
					}
					.title {
						font-size: 18px;
						font-weight: 500;
						line-height: 26px;
						margin-bottom: 20px;
					}
					.content {
						font-size: 15px;
						font-weight: 500;
						letter-spacing: 0.5px;
						line-height: 21px;
						margin-bottom: 20px;
					}
					.table {
						width: 100%;
						display: block;
						tr {
							width: 100%;
							margin-bottom: 10px;
							td {
								font-size: 15px;
								font-weight: 500;
								&:first-child {
									width: 96px;
									margin-right: 20px;
									display: block;
								}
							}
						}
					}
				}
			}
		}
		&__csr-policy {
			margin-top: 20px;
			.title {
				font-size: 18px;
				font-weight: 500;
				line-height: 26px;
				margin-bottom: 20px;
			}
			.sub {
				font-size: 15px;
				font-weight: 500;
				letter-spacing: 0.5px;
				line-height: 21px;
			}
			.list {
				margin-top: 20px;
				font-size: 15px;
				font-weight: 500;
				li {
					display: flex;
					margin-bottom: 10px;
					p {
						letter-spacing: 0.5px;
						line-height: 20px;
					}
				}
				span {
					margin-right: 15px;
					display: inline-block;
				}
			}
		}
	}
}
