#Single-Page {
	margin-top: 95px;

	.single-cont {
		max-width: 950px;
		margin: 40px auto 60px;
		padding: 0 25px;
		&__sub-heading {
			margin: 30px 0 20px;
			text-align: center;
			font-size: 15px;
			font-weight: 500;
		}
		&__main-heading {
			text-align: center;
			font-size: 18px;
			font-weight: 500;
			@include is-max(767px) {
				text-align: left;
			}
		}
		&__featured-img {
			margin: 30px auto;
			display: block;
			max-width: 800px;
			height: 315px;
			overflow: hidden;
			width: 100%;
			@include is-max(767px) {
				height: 200px;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				@include is-max(767px) {
					object-fit: contain;
				}
			}
			video {
				width: 100%;
			}
		}
		&__main-content {
			font-size: 15px;
			font-weight: 500;
			letter-spacing: 0.5px;
			line-height: 1.8;
			a {
				text-decoration: underline;
				text-underline-offset: 3px;
			}
		}
		&__heading {
			color: #0035ad;
			font-size: 25px;
			font-weight: 700;
			margin: 60px 0 30px;
			line-height: 36px;
		}
		&__post-container {
			.box--wrapper {
				display: flex;
				max-width: 892px;
				justify-content: space-between;
				@include is-min(767px) {
					gap: 45px;
				}
				@include is-max(767px) {
					flex-wrap: wrap;
				}
				.box--container {
					width: 100%;
					@include is-min(767px) {
						width: 264px;
					}
					&:not(:last-child) {
						@include is-max(999px) {
							padding-bottom: 14px;
						}
					}
					a {
						&:hover {
							opacity: 0.6;
						}
					}
					figure {
						text-align: center;
						overflow: hidden;
						border-radius: 5px;
						@include is-min(767px) {
							width: 264px;
							height: 180px;
						}
						@include is-max(767px) {
							height: 220px;
						}
						img,
						video {
							object-fit: cover;
							display: block;
							height: 100%;
						}
						img {
							@include is-max(767px) {
								width: 100%;
								height: 100%;
							}
						}
						video {
							width: 100%;
							height: 100%;
							@include is-max(767px) {
								width: 100%;
							}
						}
					}
					.box--title {
						color: #0035ad;
						font-weight: 700;
						text-align: center;
						padding-top: 10px;
						padding-bottom: 10px;
						font-size: 20px;
						@include is-min(1000px) {
							padding: 5px 0 10px;
						}
					}
					.box--desc {
						p {
							line-height: 25px;
							font-size: 15px;
							padding-bottom: 10px;
						}
					}
					.box--lower-desc {
						display: flex;
						flex-wrap: wrap;
						margin: 0 -5px;
						padding-bottom: 10px;
						@include is-min(1000px) {
							padding-bottom: 15px;
						}
						span {
							padding: 9px 11px 8px;
							margin: 5px;
							font-size: 12px;
							border-radius: 10px;
							background-color: #ecf0fa;
							align-items: center;
							justify-content: center;
							a {
								color: #0035ad;
							}
						}
					}
				}
			}
		}
		&__red-notice {
			color: #d20000;
			font-size: 18px;
			font-weight: 500;
			margin-top: 20px;
			letter-spacing: 0.5px;
		}
		&__link-list {
			&--item {
				&:not(:last-child) {
					margin-bottom: 20px;
				}
				a {
					&:hover {
						.underline {
							text-decoration: none;
							opacity: 0.6;
						}
					}
				}
				a,
				.no_link {
					display: flex;
					align-items: flex-start;
					overflow: hidden;
					@include is-max(767px) {
						flex-direction: column;
					}
				}
				&__image {
					overflow: hidden;
					@include is-min(767px) {
						width: 220px;
						height: 176px;
						margin-right: 30px;
					}
					@include is-max(767px) {
						width: 100%;
						height: unset;
						margin-bottom: 30px;
					}
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
					video {
						display: block;
						object-fit: cover;
						width: 100%;
						height: 175px;
					}
				}
				&__content {
					@include is-min(767px) {
						max-width: 650px;
					}
					.title {
						font-size: 18px;
						font-weight: 500;
						letter-spacing: 1px;
					}
					.underline {
						font-size: 18px;
						font-weight: 500;
						letter-spacing: 1px;
						text-decoration: underline;
						text-underline-offset: 3px;
					}
					.content {
						font-size: 15px;
						font-weight: 500;
						letter-spacing: 1px;
						margin-top: 20px;
					}
					p {
						padding-top: 10px;
						.alignnone {
							width: 50px;
							float: right;
							margin-left: 10px;
							&:first-child {
								width: 133px;
							}
						}
					}
				}
			}
		}
		&__tech-issues {
			&--list {
				display: flex;
				justify-content: space-between;
				margin: 16px 0 20px;
				flex-wrap: wrap;
				gap: 30px;
				@include is-max(767px) {
					flex-direction: column;
				}
				&__item {
					color: #0034a9;
					background-color: #ecf0fa;
					border: 5px solid #c9d4ee;
					font-size: 18px;
					font-weight: 500;
					line-height: 26px;
					padding: 30px 15px;
					@include is-min(767px) {
						width: calc(95% / 2);
					}
					@include is-max(767px) {
						margin-right: 0;
					}
				}
				&__ttl {
					font-size: 18px;
					font-weight: 500;
					letter-spacing: 0.5px;
					line-height: 26px;
					margin-bottom: 20px;
				}
				&__content {
					font-size: 15px;
					font-weight: 500;
					line-height: 21px;
					letter-spacing: 0.5px;
				}
			}
		}
		&__processing {
			.box--wrapper {
				margin: 0 !important;
				justify-content: space-between;
			}
			.box--container {
				padding: 0;
				margin-bottom: 40px;
				@include is-min(767px) {
					width: 264px;
				}
				&:not(:nth-child(3n)) {
					@include is-min(767px) {
						margin-right: 50px;
					}
				}
				.box--desc {
					p {
						padding-bottom: 0;
						&:first-child,
						&:last-child {
							display: none;
						}
					}
				}
				figure {
					img,
					video {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				.box--title {
					padding: 10px 0;
				}
			}
			&--content-item {
				display: flex;
				justify-content: space-between;
			}
		}
		&__process-link {
			a {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				width: 100%;
				margin-top: 20px;
				img {
					width: 14px;
					margin-right: 10px;
				}
				p {
					font-size: 18px;
					font-weight: 500;
					@include is-max(767px) {
						font-size: 15px;
					}
				}
			}
		}
	}
	.sect2 {
		background-color: #ecf0fa;
		.wrapper {
			.container {
				padding-top: 30px;
				padding-bottom: 10px;
				text-align: center;
				@include is-min(1000px) {
					padding-top: 50px;
					padding-bottom: 50px;
				}
				p {
					font-size: 15px;
				}
				.contact-us {
					padding-top: 10px;
					padding-bottom: 5px;
					@include is-min(1000px) {
						padding-top: 30px;
						padding-bottom: 20px;
						br {
							display: none;
						}
					}

					&--small {
						@include is-min(1000px) {
							padding-bottom: 10px;
						}
					}
				}
				h3 {
					font-size: 45px;
					a {
						color: #0035ad;
					}
				}
				.sect2--btn {
					margin: 0 auto;
					padding: 20px 0;
					@include is-min(1000px) {
						max-width: 729px;
					}
					ul {
						@include is-min(1000px) {
							display: flex;
							justify-content: center;
							margin: 0 -10px;
						}
						li {
							border-radius: 10px;
							background-color: #0035ad;
							padding-top: 10px;
							padding-bottom: 10px;
							margin: 8px auto;
							position: relative;
							justify-content: center;
							cursor: pointer;
							width: 300px;
							&:hover {
								opacity: 0.6;
								a {
									img {
										right: -5px;
										position: relative;
									}
								}
							}
							@include is-min(1000px) {
								display: flex;
								align-items: center;
								padding: 20px 20px;
								margin: 0 10px;
							}
							a {
								color: #ffff;
								font-size: 20px;
								font-weight: 700;
								text-align: left;
								display: flex;
								align-items: center;
								justify-content: center;
								@include is-max(999px) {
									br {
										display: none;
									}
								}
								figure {
									margin-left: 15px;
								}
							}
						}
					}
				}
			}
		}
	}
}
